body {
    background-image: url("images/back.jpg");
}
.actcontainer
{
    background-color: white;
    border: 1px solid;
    margin: auto;
    position: relative;
    /* width: 57%; */
    /* vertical-align: -webkit-baseline-middle; */
    /* top: 96px; */
    width: 1024px;
    height: 743px;
}